.form {
  margin: 20px;
}

.form input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.form button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #ff6f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #e65100;
  }
}

.movieList {
  list-style-type: none;
  margin-left: 30px;
}

.movieList li {
  margin-bottom: 10px;
}

.movieList li a {
  color: #333;
  text-decoration: none;
}

.movieList li a:hover {
  text-decoration: underline;
}
